<%- include("./partials/headers.ejs"); %>
  <div class="wrapper">
    <%- include("./partials/topbar.ejs"); %>
    <%- include("./partials/sideMenu.ejs"); %>
    <!-- Main content div -->
      <div class='content-wrapper'>
        <div class="container p-3 row col-12 mx-auto">
            <div class="input-group col-6 mx-auto">
                <select class="custom-select" id="user_names">
                    <%- locals.bots %> 
                </select>
                <div class="input-group-append">
                    <input type="date" name="start_date" id="start_date" style="background:transparent;border:1px solid #6c757d;color:#ddd;">
                </div>
                <div class="input-group-append">
                    <button id="get_statistic" class="btn btn-outline-secondary" type="button">GET DATA</button>
                </div>
            </div>
        </div>
        <div class="row m-0 mx-auto">
            
            <div class="row col-8 mx-auto">
                <div class="row col-8 mx-auto">
                    <div class="col">User Name: <span id="uname"></span></div>
                    <div class="col">Password: <span id="pass"></span></div>
                </div>
                <div class="col-8 py-4 mx-auto" id="twets_result"></div>
            </div>
        </div>
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    <!-- middle footer -->
    <%- include("./partials/middle_footer.ejs"); %>
  </div>
<%- include("./partials/footer.ejs"); %>