<%- include("./partials/headers.ejs"); %>
  <div class="wrapper">
    <%- include("./partials/topbar.ejs"); %>
    <%- include("./partials/sideMenu.ejs"); %>
    <!-- Main content div -->
    <div class="content-wrapper">
        <div class="my-4"><br>
          <% if(locals.form=="newuserform"){%>
            <%- include("./forms/new_userform.ejs"); %>
          <%} else if(locals.form=="newbot"){%>
            <%- include("./forms/new_bot.ejs"); %>
          <%} else if(locals.form=="edituser"){%>
            <%- include("./forms/edit_member.ejs"); %>
          <%} else if(locals.form=="newemail"){%>
            <%- include("./forms/emailsform.ejs"); %>
          <%} else if(locals.form=="editbot"){%>
            <%- include("./forms/edit_bot.ejs"); %>
          <%} else if(locals.form=="editemail"){%>
            <%- include("./forms/edit_email.ejs"); %>
          <%} else if(locals.form=="automate"){%>
            <%- include("./forms/automation_form.ejs"); %>
          <%} else if(locals.form=="new_tone_keyword"){%>
            <%- include("./forms/new_tone_keyword_form.ejs"); %>
          <%} else if(locals.form=="listener"){%>
            <%- include("./forms/specific_retweet_form.ejs"); %>
          <%} else if(locals.form=="newplatform"){%>
            <%- include("./forms/new_platform.ejs"); %>
          <%} else if(locals.form=="platform_edit"){%>
            <%- include("./forms/edit_Platform_details.ejs"); %>
          <%}%>
        </div>
    </div>
    <!-- middle footer -->
    <%- include("./partials/middle_footer.ejs"); %>
  </div>
<%- include("./partials/footer.ejs"); %>