<%- include("./partials/headers.ejs"); %>
  <div class="wrapper">
    <%- include("./partials/topbar.ejs"); %>
    <%- include("./partials/sideMenu.ejs"); %>
    <!-- Main content div -->
      <div class='content-wrapper'>
        <div class="container p-3 row col-8 mx-auto">
          <form class="input-group col-8 mx-auto" id="youtube_comment_tone">
              <input type="text" name="video_title" id="video_title" class="form-control col-6" placeholder="Video Title">
              <input type="text" name="page_name" id="page_name" class="form-control col-4" placeholder="Page Name">
              <input type="text" name="video_id" id="video_id" class="form-control col-2" placeholder="Video Id">
              <input type="hidden" name="loadmore" id="loadmore_input">
              <input type="hidden" name="mem_id" id="mem_id" value="7">
              <input type="hidden" name="item_id" id="item_id">
              <button class="btn btn-outline-secondary form-control col-1" type="submit">GET</button>
          </form>
        </div>
        <div class="row m-0 mx-auto">
            <div class="row col-9 mx-auto">
                <div class="col-12 py-4 mx-auto" id="results"></div>
                <div class="col-12 py-4 mx-auto text-center"><button id="more_youtube_comment_tone" class="btn btn-outline-primary">Load More</button></div>
            </div>
            <div class="col-3">
                <ul class="list-group sticky-top my-4">
                  <li class="list-group-item">Positive: <span id="positive">0</span></li>
                  <li class="list-group-item">Negative: <span id="negative">0</span></li>
                  <li class="list-group-item">Neutral: <span id="neutral">0</span></li>
                  <li class="list-group-item">Unrelated: <span id="unrelated">0</span></li>
                </ul>
              </div>
        </div>
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    <!-- middle footer -->
    <%- include("./partials/middle_footer.ejs"); %>
  </div>
<%- include("./partials/footer.ejs"); %>