<%- include("./partials/headers.ejs"); %>
  <div class="wrapper">
    <%- include("./partials/topbar.ejs"); %>
    <%- include("./partials/sideMenu.ejs"); %>
    <!-- Main content div -->
    <div class='content-wrapper'>
        <div class='container m-auto py-3'>
            <div class="card">
                <div class="card-header border-transparent">
                    <h3 class="card-title">ITEM LIST</h3>
                    <div class="card-tools">
                        <button type="button" data-toggle="modal" data-target="#new_tone_form" class="btn btn-tool"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table m-0">
                            <thead><tr><th>MEDIA</th><th>PAGE</th></tr></thead>
                            <tbody id="pageList"> <%- locals.table_data %> </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- pop up the form for entering phone number-->
    <div class="modal fade" id="new_tone_form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <form id="new_social_group">
              <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col col-md-12" style="text-align:center !important;">
                          <select class="custom-select" id="social_type" name='social_type' required>
                            <option value="facebook" selected>Face Book</option>
                            <option value="instagram">Instagram</option>
                            <option value="jamiiforums">Jamii Forums</option>
                            <option value="twitter">Twitter</option>
                            <option value="youtube">Youtube</option>
                            <option value="website">Web & Blogs</option>
                          </select>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                  <input type="text" class="form-control text-center" style="text-transform: none;" id="new_social_name" name="new_social_name" autocomplete="off" placeholder="Page Name">
                </div>
                <div id="mediaresp"></div>
                <div class="d-flex justify-content-center"><button type="submit" class="btn btn-primary">Add</button></div>
              </div>
            </form>
          </div>
        </div>
    </div>
    <!-- middle footer -->


    <%- include("./partials/middle_footer.ejs"); %>
  </div>
<%- include("./partials/footer.ejs"); %>