<div class="row col-6 mx-auto p-4 my-4" style="margin-top: 50px !important;">
    <form style="width:100%;" class="text-center" id="edituserForm">
        <input type="hidden" name="user_id" id="user_id" value="<%- locals.userid %>">
        <div class="form-group">
            <label for="fname">Full Name</label>
            <input type="text" name="fname" id="fname" class="form-control text-center" placeholder="Enter Full Name" value="<%- locals.m_name %>" required>
        </div>
        <div class="form-group">
            <label for="uaddress">Email Address</label>
            <input type="address" name="uaddress" id="uaddress" class="form-control text-center" placeholder="Enter Email Address" value="<%- locals.m_email %>" required>
        </div>
        <div class="form-group">
            <label for="phone1">Phone Number</label>
            <input type="tel" name="phone1" id="phone1" class="form-control text-center" placeholder="Enter Phone Number" value="<%- locals.m_phone_number %>" required>
        </div>
        <div class="form-group">
            <label for="phone2">Phone Number 2</label>
            <input type="tel" name="phone2" id="phone2" class="form-control text-center" placeholder="Enter Phone Number" value="<%- locals.m_sec_number %>" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">User Type</label>
            <select id="utype" name="utype" class="form-control text-center" required>
                <option value="member" <% if(locals.m_type=="member"){%> selected <%}%>>Member</option>
                <option value="operator" <% if(locals.m_type=="operator"){%> selected <%}%>>Operator</option>
                <option value="admin" <% if(locals.m_type=="admin"){%> selected <%}%>>Admin</option>
            </select>
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" name="location" id="location" class="form-control text-center" placeholder="Enter email" value="<%- locals.m_location  %>">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control text-center" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="description">Any Description</label>
            <textarea class="form-control text-center" name="description" id="description" rows="3" placeholder="Any Description" value="<%- locals.m_description  %>"></textarea>
        </div>
        <div style="text-align:center !important;" id="edituser_res"></div>
        <button type="submit" class="btn btn-primary mx-auto">SUBMIT CHANGES</button>
    </form>
</div>
